# Python
__pycache__/
*.pyc

# Virtual Env
venv/
env/

# Environment Variables
.env

# System
.DS_Store

# Data (Generated/Downloaded)
data/raw/
data/index/
data/db/
data/processed/

# IDE
.vscode/
.idea/
