services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - ../data:/app/data
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
    restart: always

  ui:
    build:
      context: ..
      dockerfile: docker/Dockerfile.streamlit
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000/api/v1/chat
    depends_on:
      - api
    restart: always
